.root {
    padding-bottom: 80px;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
}

.root h2,
.root h3 {
    margin-block: 0;
}

.heading {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.heading h2 {
    align-items: center;
    display: flex;
    column-gap: 12px;
}

.heading h2 svg {
    flex-shrink: 0;
}

.sliderArrows {
    display: none;
}

.reviewItems {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
}

.reviewItems :global .swiper {
    min-width: 100%;
}

.reviewItems :global .swiper-wrapper {
    padding-bottom: 1rem;
}

.reviewItems :global .swiper-scrollbar {
    background-color: transparent;
    bottom: 0 !important;
    height: 2px !important;
    left: 0 !important;
    width: 100% !important;
}

.reviewItems :global .swiper-scrollbar-drag {
    background-color: #232323;
}

.reviewItems.grid .card {
    width: 50%;
    max-width: 328px;
}

.card {
    background-color: #f7f7f7;
    border-radius: 16px;
    flex-shrink: 0;
    padding: 1.5rem 1rem;
}

.cardHeader {
    font-weight: 600;
    margin-bottom: 4px;
    height: 20px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.cardBody {
    height: 144px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
    margin-bottom: 80px;
}

.cardFooter {
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: space-between;
}

.cardFooterLeft {
    flex: 1;
}

.cardFooterRight {
    flex-shrink: 0;
}

@media only screen and (min-width: 1432px) {
    .root {
        padding-left: 0;
        padding-right: 0;
    }

    .reviewItems :global .swiper.swiper-initialized {
        padding-right: calc((100vw - 1432px) / 2);
    }

    .reviewItems :global .swiper-wrapper {
        padding-left: calc((100vw - 1432px) / 2);
        padding-right: calc((100vw - 1432px) / 2);
    }
}

@media only screen and (min-width: 768px) {
    .reviewItems :global .swiper-slide {
        max-width: 328px;
    }
}

@media (max-width: 767px) {
    .reviewItems {
        margin-left: -1rem;
        width: calc(100% + 2rem);
    }

    .reviewItems :global .swiper {
        padding-left: 1rem;
        padding-right: 1rem;
        width: calc(100% + 2rem);
    }

    .reviewItems :global .swiper-slide:last-child {
        margin-right: 0 !important;
    }

    .reviewItems :global .swiper-scrollbar {
        width: calc(100% - 2rem) !important;
        left: 1rem !important;
    }

    .heading {
        margin-bottom: 26px;
    }

    .heading h2 {
        align-items: flex-start;
        font-size: 1.5rem;
        line-height: 28px;
    }

    .card {
        padding: 1rem 0.5rem;
    }

    .cardBody {
        height: 104px;
        -webkit-line-clamp: 5;
        margin-bottom: 66px;
    }
}

@media (min-width: 768px) {
    .reviewItems :global .swiper-scrollbar {
        display: none !important;
    }

    .sliderArrows {
        display: inline-flex;
    }
}

