.root {}
.home-title {
    h2:not([class^='recentlyViewed-heading']) {
        font-size: 20px;
        margin-bottom: 0.5rem;
        margin-top: 0;
        line-height: 1.3;
    }

    @media screen(lg) {
        h2:not([class^='recentlyViewed-heading']) {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }
}

:global {
    .home-page {
        [class^='buttons-root'] {
            & > div {
                margin-inline-end: 0;
                margin-bottom: 0;
            }
        }

        h2:not([class^='recentlyViewed-heading']) {
            font-size: 20px;
            margin-bottom: 0.5rem;
            margin-top: 0;
            line-height: 1.3;
        }

        @media screen(lg) {
            h2:not([class^='recentlyViewed-heading']) {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }

        .home-trending {
            [class^='tabs-root'] {
                margin-top: 12px;
            }

            @media screen(-lg) {
                width: 100vw;
                padding-right: 1rem;

                [class^='recommendationContainer'] {
                    width: calc(100% + 1rem);
                }
            }

            @media screen(lg) {
                [class^='tabs-root'] {
                    margin-top: 1rem;
                }
                [class^='tabs-content'] {
                    min-height: 371px !important;
                }
                [class^='swiperButton'] {
                    top: -150px;
                }
            }
        }

        .home-products {
            h2:not([class^='recentlyViewed-heading']) {
                font-size: 20px;
                margin-bottom: 0.5rem;
                margin-top: 0;
                line-height: 1.3;
            }

            @media screen(lg) {
                h2:not([class^='recentlyViewed-heading']) {
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }
            }

            background-color: theme(colors.bgNude);
            overflow: hidden;

            [class^='row-contained'] {
                position: relative;
            }

            [class^='buttons-root'] {
                button {
                    padding: 4px 1.1rem;
                    text-transform: none;
                    line-height: 1;
                    min-height: 40px;
                    font-weight: bold;

                    &::after {
                        content: '';
                        width: 20px;
                        height: 20px;
                        background-image: url('/icons-svg/ic-link-arrow-right.svg');
                        margin-left: 8px;
                    }

                    &[class^='button-root_normalPriority'] {
                        background-color: white;
                        &::after {
                            filter: invert(1);
                        }
                    }
                }
            }

            [class^='swiperButton'] {
                right: unset;
                left: 0;
                top: 0 !important;
            }

            @media screen(-lg) {
                padding: 2rem 1rem;

                & > div:first-child {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                }

                [class^='buttons-root'] {
                    order: 1;
                    align-self: center;
                }
            }

            @media screen(lg) {
                padding: 5rem 2rem;

                [class^='buttons-root'],
                [class^='text-root'] {
                    position: absolute;
                    bottom: 0;
                    z-index: 9;
                }

                [class^='text-root'] {
                    bottom: calc(3.5rem + 40px);
                    max-width: 24vw;
                }

                [class^='recommendationContainer'] {
                    left: 0;

                    .swiper-horizontal {
                        margin-left: min(430px, calc(430 / 1680 * 100vw));
                        width: calc(358px * 4);
                        margin-right: 358px;
                    }
                }
            }
        }

        .home-featured {
            [class^='columnLine-root'] {
                column-gap: 1rem;

                h2 {
                    @apply font-serif;
                    margin-bottom: 0.75rem;
                    font-size: 1rem;
                    line-height: 1.25rem;
                    pointer-events: none;
                }
            }

            [class^='column-root'] {
                position: relative;
                border-radius: 1rem;
                overflow: hidden;
            }

            @media screen(-lg) {
                [class^='columnLine-root'] {
                    display: grid !important;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto auto;
                    row-gap: 2rem;

                    [class^='column-root'] {
                        width: 100% !important;
                    }

                    h2 {
                        margin-block: 0.5rem 0;
                    }
                }
            }

            @media screen(lg) {
                [class^='columnLine-root'] {
                    column-gap: 30px;

                    h2 {
                        @apply font-serif;
                        bottom: 4px;
                        color: white;
                        font-size: 1.25rem;
                        left: 0;
                        line-height: 1.75rem;
                        margin-bottom: 1rem;
                        margin-top: 0.25rem;
                        position: absolute;
                        text-align: center;
                        width: 100%;
                        z-index: 9;
                    }
                }

                [class^='column-root'] {
                    position: relative;
                    border-radius: 1rem;
                    overflow: hidden;

                    &:hover::after {
                        opacity: 1;
                    }

                    &::after {
                        transition: opacity 0.3s ease-in-out;
                        opacity: 0;
                        pointer-events: none;
                        content: '';
                        position: absolute;
                        height: 95px;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: linear-gradient(
                                360deg,
                                #2d2d2d -25.68%,
                                rgba(102, 102, 102, 0) 100%
                        );
                    }
                }
            }
        }

        .home-discover {
            [class^='columnLine-root'] {
                column-gap: 1rem;
                gap: 1.5rem 1.875rem;
            }

            [class^='column-root'] {
                border-radius: 8px;
                overflow: hidden;
            }

            @media screen(-lg) {
                flex-direction: column;
            }
        }

        .home-kelly {
            padding-inline: 1rem;

            h2 {
                @apply font-serif;
                color: white;
                line-height: 1.2;
                margin-block: 0;
            }
            p {
                margin-block: 0;
            }

            [class^='text-root'] {
                color: white;
            }

            [class^='columnGroup-root'] {
                display: grid;

                @media screen(-lg) {
                    row-gap: 1rem;
                }
            }

            [class^='columnLine-root'] {
                /* Text content */
                &:nth-child(2) {
                    display: grid !important;
                    grid-template-columns: 1fr;

                    img {
                        height: 214px !important;
                        object-fit: cover;
                        width: 100%;
                    }

                    ul {
                        margin-bottom: 0;
                        list-style-type: none;
                        li {
                            position: relative;

                            &::before {
                                content: '';
                                position: absolute;
                                left: -24px;
                                top: 3px;
                                width: 12px;
                                height: 12px;
                                background-image: url('/icons-svg/ic-checkmark-2.svg');
                                background-repeat: no-repeat;
                                background-size: 5px;
                                background-position: center;
                                border-radius: 50%;
                                border: 1px solid white;
                            }
                        }
                    }

                    [class^='column-root'] {
                        width: 100% !important;
                        display: grid !important;
                        gap: 3rem 2rem;

                        &:not(:last-child) {
                            @media screen(lg) {
                                [class^='text-root'] {
                                    grid-column: 2 / 3;
                                    grid-row: 1 / 3;
                                }
                            }
                        }

                        &:last-child {
                            /* 4 pics content */
                            margin-top: 3.25rem;
                        }
                    }
                }
            }

            [class^='buttons-root'] {
                button {
                    color: white;
                    border-color: currentColor;
                    border-width: 1px;
                    min-height: 36px;
                }
            }

            @media screen(lg) {
                h2 {
                    font-size: 2.5rem;
                }

                [class^='columnGroup-root'] {
                    grid-template-columns: 0.426fr 0.574fr;
                    column-gap: calc(88 / 1680 * 100vw);
                }

                [class^='columnLine-root'] {
                    ul {
                        margin-top: 1rem;
                    }

                    &:nth-child(2) {
                        [class^='column-root'] {
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: auto 1fr;
                        }
                    }
                }
            }

            @media screen(-lg) {
                padding-inline: 1rem;

                h4 {
                    font-size: 1.25rem;
                    margin-top: 1rem;
                }

                [class^='columnLine-root'] {
                    &:nth-child(2) {
                        [class^='column-root'] {
                            &:first-child {
                                text-align: center;
                                grid-template-columns: 1fr !important;
                                row-gap: 1rem !important;

                                [class^='text-root'] {
                                    text-align: left;
                                }

                                [class^='buttons-root'] {
                                    margin-top: 0.5rem;
                                }
                            }

                            &:last-child {
                                /* 4 pics content */
                                margin-top: 2rem !important;
                                row-gap: 12px !important;
                                padding-bottom: 12px;
                                grid-template-columns: 1fr;

                                [class^='text-root'] {
                                    flex-direction: row;

                                    img {
                                        width: 35.2vw !important;
                                        height: auto !important;
                                    }

                                    ul {
                                        margin-left: 0.5rem;
                                    }

                                    p {
                                        flex-shrink: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .home-recently-viewed > div:first-child:not(:empty) {
            padding-top: 2.5rem;
            position: relative;

            &:before {
                background-color: #e0e0e0;
                top: 0;
                content: '';
                display: block;
                height: 1px;
                left: 0;
                max-width: 1400px;
                position: absolute;
                width: 100%;
            }

            @media screen(-lg) {
                &:before {
                    left: -1rem;
                    width: calc(100% + 2rem);
                }
            }
        }

        .row-img-fluid {
            @media screen(-lg) {
                figure {
                    margin-inline: -1rem;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen(xl) {
    .home-page {
        .home-trending {
            [class^='swiperButton'] {
                top: -148px;
            }
        }
    }
}


