.root {
    padding: 0.75rem 0;
    position: relative;
}

.root :global .swiper-pagination {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: 12px;
}

.root :global .swiper-pagination-bullet {
    background-color: #f4f2f0;
    display: block;
    width: 10px;
    height: 1px;

    &-active {
        background-color: #212121;
    }
}

.event {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    padding: 0 1rem;
    justify-content: space-between;
}

.eventInfo {
    margin-bottom: 0.5rem;

    .eventName {
        @apply font-sans;
        margin: 0 0 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        line-height: 18px;
    }

    p {
        margin: 0;
        font-size: 0.75rem;
    }
}

.shopNowButton {
    border: solid 1px #121212;
    border-radius: 32px;
    cursor: pointer;
    display: block;
    width: 104px;
    line-height: 36px;
    height: 38px;
    text-align: center;
    font-weight: 600;
}

.event {
    [class^='countdownTimer-root'] {
        background: none;
        margin-bottom: 0;
        padding: 0;
    }

    [class^='countdownTimer-eventName'] {
        display: none;
    }

    [class^='countdownTimer-clock'] {
        color: #121212;
        margin: 0;
        min-width: 76px;
        position: relative;
        text-transform: uppercase;

        &:not(:last-child):after {
            background-color: #121212;
            content: '';
            display: block;
            height: 20px;
            position: absolute;
            right: 0;
            top: 0;
            width: 1px;
        }
    }

    [class^='countdownTimer-value'] {
        background: none;
        color: #121212;
        font-size: 1rem;
        font-weight: 600;
        height: 20px;
        line-height: 20px;
        margin-bottom: 2px;
        margin-left: auto;
        margin-right: auto;
    }
}

.sliderArrows {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.sliderArrows :global .swiper-button-disabled {
    background-color: transparent !important;
}

@media screen(md) {
    .root {
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .event {
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;

        [class^='countdownTimer-root'] {
            order: unset;
            width: auto;
        }

        [class^='countdownTimer-clock'] {
            font-size: 14px;
            min-width: 84px;

            &:not(:last-child):after {
                top: 8px;
            }
        }

        [class^='countdownTimer-value'] {
            font-size: 30px;
            line-height: 36px;
            height: 36px;
        }
    }

    .eventInfo {
        margin-bottom: 0;

        &:empty {
            display: none;
        }

        .eventName {
            font-size: 20px;
            line-height: 24px;
        }

        p {
            font-size: 14px;
            line-height: 16px;
        }
    }

    .shopNowButton {
        transition: background-color 0.2s linear;

        &:hover {
            background-color: #121212;
            color: #fff;
        }
    }
}

@media only screen and (max-width: 720px) {
    .event {
        [class^='countdownTimer-root'] {
            width: 100%;
            order: 2;
        }
    }
}

@media only screen and (max-width: 1199px) {
    .root {
        :global .swiper-pagination {
            display: flex;
        }
    }

    .sliderArrows {
        display: none !important;
    }
}

@media only screen and (min-width: 1200px) {
    .root {
        padding-left: 116px;
        padding-right: 116px;
    }
}

@media screen(lg) {
    .event {
        align-items: center;
        column-gap: 70px;
    }
}
